body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
h2 {
	margin: 0 0 20px 0;
	font-family: 'Antic Didone';
	font-weight: 500;
	color: #555555;
}
h3 {
	font-family: 'Antic Didone';
	font-size: 22px;
	font-weight: 500;
	color: #555555;
}
h4 {
	font-family: 'Antic Didone';
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #555555;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 17px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #555555;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 200px;
	background: #f7efe9;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
@font-face {
	font-family: 'Parisienne';
	font-style: normal;
	font-weight: 400;
	src: local('Parisienne'), local('Parisienne-Regular'), url(https://themes.googleusercontent.com/static/fonts/parisienne/v1/1wiHF6pWOa568Cj3p-anxC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script'), local('DancingScript'), url(https://themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2bDH3ri20rYH10B2w3wbVeU.woff) format('woff');
} 
@font-face {
	font-family: 'Antic Didone';
	font-style: normal;
	font-weight: 400;
	src: local('Antic Didone'), local('AnticDidone-Regular'), url(https://themes.googleusercontent.com/static/fonts/anticdidone/v1/r3nJcTDuOluOL6LGDV1vR4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu a.navbar-brand {
	color: #eee;
	font-family: 'Dancing Script';
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	color: #f7efe9;
	font-family: 'Antic Didone';
	font-weight: 600;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}
.on {
	background-color: #363636 !important;
	opacity: 0.7;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #eee !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #b4b4b4;
	border-color: #ddd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 20px;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	text-transform: uppercase;
	color: #777;
	background-color: #ffffff;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 17px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: rgba(187, 187, 187, 0.8);
	background-color: #f7ebe1;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) no-repeat center bottom;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.40);
}
.intro h1 {
	color: #fff;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
	letter-spacing: -1px;
}
.intro span {
	color: #f7efe9;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-family: 'Antic Didone';
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	font-family: 'Parisienne';
}
/* Services Section */
#services {
	padding: 70px 0 30px 0;
}
#services img {
	width: 500px;
}
#services p {
	font-family: 'Antic Didone';
	line-height: 24px;
	margin: 15px 0 30px;
	padding: 20px 0;
}
/* Testimonials Section */
#testimonials img {
	width: 500px;
}
#testimonials p {
	font-family: 'Antic Didone';
	font-style: italic;
	line-height: 24px;
	margin: 15px 0 30px;
	padding: 20px 0;
}
/* Contact Section */
#contact {
	padding: 60px 0 0 0;
	background: #F6F6F6;
}
#contact form {
	padding: 30px 0;
}
#contact h3 {
	font-size: 20px;
	font-weight: 400;
	color: #555555;
}
#contact .text-danger {
	font-size: 14px;
	color: #cc0033;
	text-align: left;
}
#contact .contact-email {
	font-family:Antic Didone; 
	font-weight: 600; 
	color: #54b0b8"
}
#contact .contact-phone {
	font-family:'Roboto', sans-serif; 
	font-weight: 300;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	font-size: 16px;
}
/* Footer Section*/
#footer {
	background: #333;
	padding: 50px 0 20px 0;
}
#footer .social {
	margin-bottom: 50px;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #f7efe9;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #f7efe9;
}
